.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: skyblue;
}

.dialogsItems .dialog {

}

.messages {
    padding: 10px;
}

.messages .message {

}

.dialog img {
    width: 50px;
}

.dialog {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1px;
    border-bottom: 1px solid black;
}

.dialog a {
    text-decoration: none;
}

.sendMessageBox {
    margin-left: 240px;
}

.sendMessageBox textarea {
    width: 500px;
    height: 80px;
}
